parameters:
    scanFiles:
        - ../IntelliSenseHelper.php
        - ../../../oxid-esales/oxideshop-ce/source/bootstrap.php
        - ../../../oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../../oxid-esales/oxideshop-ce/source/overridablefunctions.php
    paths:
        - ../Application
        - ../assets
        - ../Core
        - ../migration
        - ../Modules
        - ../Services
        - ../Setup
        - ../views
        - ../metadata.php
    excludePaths:
        - ../Tests
        - ../.ci-tools
    level: 6
    phpVersion: 80300
    ignoreErrors:
        - '#Return type [\(\)a-z]* of method .*getBreadCrumb\(\) should be compatible with return type [\(\)a-z]* of method\s*.*getBreadCrumb\(\)#'
        - '#Unable to resolve the template type T in call to function oxNew#'
        - '#(Property|Method) D3\\Totp\\Modules\\.* has no (return type|type) specified.#'
        - identifier: missingType.iterableValue
    treatPhpDocTypesAsCertain: false
    parallel:
        processTimeout: 900.0